@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    background-color: rgb(24, 24, 24);
    overflow: show;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


#notes{
    background-color: rgba(28, 28, 28, 0);
    box-sizing: border-box;
    color: rgb(245, 245, 245);
    width: 100%;
    padding-top: 30vh;
    min-height: 100vh;
    resize: none;
    overflow: hidden;
    padding-left: 30vw;
    padding-right: 30vw;
    font-size: 50px;
}

.placeholder{
    color: #adadad;
}

.firstLine{
    display: block;
    font-size: 10vh;
    min-width: 40vw;
    min-height: 10vh;
}

.text{
    display: block;
    
    font-size: 5vh;
    min-width: 40vw;


}
.firstLine:focus{
    outline: none;
    border: none;
}
.text:focus{
    outline: none;
    border: none;
}

.save{
    position: fixed;
    bottom: 3vh;
    right: 20vw;
}

#saveButton{
    background-color: rgb(24, 24, 24);
    color: #269a66;
    border: 3px solid #269a66;
    font-family: 'Poppins';
    font-size: 2vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color .25s linear, color .25s linear;
    outline: none;
    border-radius: 8px;
    

}

#saveButton:hover{
    background-color: #269a66;
    color: white;

    

}